@import "tailwindcss";

@theme {
  --color-rio-green: #283932;
  --color-rio-greenLight: #495242;
  --color-rio-beige: #C0AD96;
  --color-rio-blue: #728A9A;
  --color-rio-cream: #F4F3EF;
  --color-rio-creamDark: #E7E4DE;
  --color-rio-taupe: #827A69;
}